@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar" role="navigation">
    <div class="navbar-header">
        <div class="navbar-brand">Группы</div>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/Groups/CreateGroup">Создать</a></li>
    </ul>
    <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" name="GroupName">
        </div>
        <button type="submit" class="btn btn-default">Поиск</button>
    </form>    
</div>

<div class="panel-group">
    @{ if (ViewBag.Groups.Count == 0)
        {
            <div class="alert alert-info"> Вы еще не вступили ни в одну группу </div>
        }
        else
        {
            <h3>Созданные вами группы: </h3>
            foreach (var g in ViewBag.Groups)
            {
                if (g.Creator.Id == 1)
                {
                    <div class="panel panel-info">
                        <div class="panel-heading"><a href="/Groups/Open/@g.Id">@g.Name</a></div>
                        <div class="panel-body">
                            <p>Id группы: @g.Id</p>
                            <p>Описание: @g.ShortDescription</p>
                        </div>
                        <div class="panel-footer"> Кол-во учасников: @(g.Members?.Count ?? 0) </div>
                    </div>
                }
            }

            <h3>Вы состоите в группах: </h3>
            foreach (var g in ViewBag.Groups)
            {
                if (g.Creator.Id != 1)
                {
                    <div class="panel panel-info">
                        <div class="panel-heading"><a href="/Groups/Open/@g.Id">@g.Name</a></div>
                        <div class="panel-body">
                            <p>Название группы: @g.Name</p>                    
                            <p>Описание: @g.ShortDescription</p>
                        </div>
                        <div class="panel-footer"> Кол-во учасников: @(g.Members?.Count ?? 0) </div>
                        <div class="pull-right">Создатель: @g.Creator.FirstName @g.Creator.LastName</div>
                    </div>
                }
            }
        }
    }
</div>
