@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CampNetwork</title>
        <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="container">
            <div class="col-md-10">
                @RenderBody()
            </div>
            <div class="col-md-2 sidebar-offcanvas" role="navigation">
                <div class="list-group">
                    <a class="list-group-item active" href="/Home/Index">Профиль</a>
                    <a class="list-group-item" href="/Dialog/Index">Диалоги</a>
                    <a class="list-group-item" href="/CampPlaces/Index">Места отдыха</a>
                    <a class="list-group-item" href="/Groups/Index">Группы</a>
                    <a class="list-group-item" href="/User/Index">Настройки</a>
                </div>
            </div>
            <div class="col-md-2 sidebar-offcanvas" role="navigation">
                <div class="list-group">
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new {@class = "list-group-item active", title = "Manage" })
                            <a href="javascript:document.getElementById('logoutForm').submit()" class="list-group-item">Log off</a>
                        }
                    }
                    else
                    {
                        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "list-group-item", id = "registerLink" })
                        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "list-group-item", id = "loginLink" })
                    }
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
