<div class="panel-group">
    @if (ViewBag.Posts != null)
    {
        foreach (var a in ViewBag.Posts)
        {
            <div class="panel panel-info">
                <div class="panel-heading">Место отдыха: @a.CampPlaceName </div>
                <div class="panel-body">@a.Text</div>
                <div class="panel-footer">
                    @a.CreationDate    Id статьи: @a.Id
                    <a class="pull-right btn btn-danger btn-xs" href="/Article/Delete/@a.Id">Удалить обзор</a>
                    <a id="comment" class="pull-right btn btn-info btn-xs">Комментировать</a>
                </div>
            </div>
            <form id="comment-area" method="post" hidden class="comment-area" action="">
                <div class="form-group">
                    <input type="hidden" name="groupId" value="@(ViewBag.Group?.Id ?? 0)" />
                    <input type="hidden" name="postId" value="@a.Id" />
                    <textarea class="form-control" name="Text"></textarea>
                </div>
                <input id="sub" class="btn btn-success" type="submit" value="Комментировать" />
            </form>
            if (a.Messages != null)
            {
                <dl class="col-md-offset-1 dl-comment">
                    @foreach (var message in a.Messages)
                    {
                        <dt>@message.FirstName @message.LastName в @message.Date <a class="btn btn-xs btn-danger" href="/Home/DeleteComment/?messageId=@message.Id&postId=@a.Id">x</a></dt>
                        <dd> - @message.Text</dd>
                    }
                </dl>
            }
        }
    }
</div>

<script type="text/javascript">

    var com = document.getElementById("comment");
    var sub = document.getElementById("sub");
    var area = document.getElementById("comment-area");

    com.onclick = function ()
    {
        area.hidden = !area.hidden;
    }

    sub.onclick = function ()
    {
        area.hidden = true;
    }

</script>
