@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row user-info">
    <div class="col-md-2">
        @if(ViewBag.Profile.Avatar != null)
        {
            @Html.Raw("<img style='width:145px; height:240px;' src=\"data:image/jpg;base64," + Convert.ToBase64String(ViewBag.Profile.Avatar) + "\" />")
        }
    </div>
    <div class="col-md-10">
        <p>@ViewBag.Profile.FirstName @ViewBag.Profile.LastName</p>
        @*<p>@ViewBag.User.BirthDate</p>*@
        <p>Адрес: @ViewBag.Profile.Address, Skype: @ViewBag.Profile.Skype, Телефон: @ViewBag.Profile.Phone</p>
        <p>@ViewBag.Profile.AdditionalInformation</p>
    </div>
</div>

@Html.Partial("PostsList")