@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row user-info">
    <div class="col-md-2">
        @if(ViewBag.Attachment != null)
        {
            @Html.Raw("<img style='width:145px; height:240px;' src=\"data:image/jpg;base64," + Convert.ToBase64String(ViewBag.Attachment.Bytes) + "\" />")
        }
    </div>
    <div class="col-md-10">
        <p>@ViewBag.User.FirstName @ViewBag.User.LastName</p>
        @*<p>@ViewBag.User.BirthDate</p>*@
        <p>Адрес: @ViewBag.User.Adress, Skype: @ViewBag.User.Skype, Телефон: @ViewBag.User.Phone</p>
        <p>@ViewBag.User.AdditionalInformation</p>
    </div>
</div>

<div class="panel-group">
    @if (ViewBag.Posts != null)
    {
        foreach (var a in ViewBag.Posts)
        {
            <div class="panel panel-info">
                <div class="panel-heading">Место отдыха: @a.CampPlace.Name </div>
                <div class="panel-body">@a.Text</div>
                <div class="panel-footer">@a.CreationDate    Id статьи: @a.Id
                    <a class="pull-right btn btn-danger btn-xs" href="/Article/Delete/@a.Id">Удалить обзор</a>
                    <a id="comment" class="pull-right btn btn-info btn-xs">Комментировать</a>
                </div>
            </div>
            <form id="comment-area" method="post" hidden class="comment-area" action="">
                <div class="form-group">
                    <input type="hidden" name="PostId" value="@a.Id" />
                    <textarea class="form-control" name="Text"></textarea>
                </div>
                <input id="sub" class="btn btn-success" type="submit" value="Комментировать" />
            </form>
            if (a.Messages != null)
            {
                <dl class="col-md-offset-1 dl-comment">
                    @foreach(var c in a.Messages)
                    {
                    <dt>@c.Author.FirstName @c.Author.LastName в @c.Date <a class="btn btn-xs btn-danger" href="/Home/DeleteComment/@c.Id">x</a></dt>
                    <dd> - @c.Text</dd>
                    }
                </dl>
            }
        }
    }
</div>

<script type="text/javascript">

    var com = document.getElementById("comment");
    var sub = document.getElementById("sub");
    var area = document.getElementById("comment-area");

    com.onclick = function ()
    {
        area.hidden = !area.hidden;
    }

    sub.onclick = function ()
    {
        area.hidden = true;
    }

</script>


